<ion-content text-center padding class="choose-course">

  <!--<form [formGroup]="survey" (ngSubmit)="logForm()">-->


    <img class="logo-center" src="assets/images/minutu_logo.png"/>

    <ion-item>
      <ion-label>Select a Course</ion-label>
      <ion-select [(ngModel)]="minutu.course" >

        <ion-option  *ngFor="let course of courseList" [value]="course.id" [selected]="false" >{{course.name}}</ion-option>

      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Select Topic </ion-label>
      <ion-select [(ngModel)]="minutu.topic" >

        <ion-option  *ngFor="let topic of topicList" [value]="topic.id" [selected]="false" >{{topic.name}}</ion-option>

      </ion-select>
    </ion-item>

    <button ion-button color="orange" menuToggle>View Summary</button>

    <button ion-button color="primary" type="submit"  menuToggle>Leave Feedback</button>

  <!--</form>-->
</ion-content>


